@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --max-width: 60ch;
  }

  html {
    color-scheme: light dark;
  }

  details {
    @apply border border-[#aaaaaa] rounded-md p-2
  }
  
  summary {
    @apply font-bold p-2 -m-2 cursor-pointer select-none
  }
  
  details[open] summary {
    @apply border border-none -m-2 mb-0
  }
}

.wrap {
  @apply max-w-[var(--max-width)] mx-auto px-4
}

.interactive {
  @apply transition-colors hover:bg-black/20 py-0.5 px-1 rounded
}

.like-link {
  @apply border-b border-black/20 hover:border-transparent dark:border-white/20 dark:hover:border-transparent
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}