---
import "../global.css";

import DumpLayout from "./dump.layout.astro";
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import type { Breadcrumb } from "../models";

interface Props {
  breadcrumbs: readonly Breadcrumb[];
  title: string;
  enableWrap?: boolean;
}

const { breadcrumbs, title, enableWrap = true } = Astro.props as Props;
---

<DumpLayout title={title}>
  <Header breadcrumbs={breadcrumbs} />
    <main class:list={{ wrap: enableWrap }} class="py-4">
      <slot />
    </main>
    <Footer />
</DumpLayout>